<header class="header">
  <button class="menu-button" (click)="toggleMenu()">
    <div class="menu-line"></div>
    <div class="menu-line"></div>
    <div class="menu-line"></div>
  </button>
  <h1 class="title"><a [routerLink]="['/']">LE RECYCLOTRON</a></h1>

  <!-- Navigation menu -->
  <nav class="main-nav" [class.active]="menuActive">
    <ul>
      <li>
        <a
          [routerLink]="['/']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Accueil</a
        >
      </li>
      <!-- Add any other main navigation items here -->
    </ul>
  </nav>

  <div class="header-actions">
    <a [routerLink]="['/login']" class="auth-link">Se connecter</a>
    <a [routerLink]="['/register']" class="auth-link">S'inscrire</a>
    <img
      src="/assets/logo_recyclotron.png"
      alt="Logo Recyclotron"
      class="logo"
    />
  </div>
</header>
