<footer class="footer">
  <nav class="footer-nav">
    <a routerLink="[/]" class="footer-link">Accueil</a>
    <a routerLink="[/contact]" class="footer-link">Contact</a>
    <a routerLink="[/politique]" class="footer-link"
      >Politique et confidentialité</a
    >
    <a routerLink="[/cgu]" class="footer-link">CGU</a>
  </nav>
  <div class="social-icons">
    <a href="#" class="social-link"
      ><img src="assets/instagram.png" alt="Instagram"
    /></a>
    <a href="#" class="social-link"
      ><img src="assets/facebook.png" alt="Facebook"
    /></a>
    <a href="#" class="social-link"
      ><img src="assets/linkedin.png" alt="LinkedIn"
    /></a>
    <a href="#" class="social-link"
      ><img src="assets/twitter.png" alt="Twitter"
    /></a>
  </div>
</footer>
