<section class="auth-container">
  <div class="register-container">
    <div class="register-card">
      <h2>Créer un compte</h2>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="Votre email"
            autocomplete="email"
          />

          <div
            class="error-message"
            *ngIf="
              registerForm.get('email')?.touched &&
              registerForm.get('email')?.invalid
            "
          >
            <span *ngIf="registerForm.get('email')?.errors?.['required']"
              >L'email est requis</span
            >
            <span *ngIf="registerForm.get('email')?.errors?.['email']"
              >Veuillez entrer un email valide</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Choisissez un mot de passe"
            autocomplete="new-password"
          />

          <div
            class="error-message"
            *ngIf="
              registerForm.get('password')?.touched &&
              registerForm.get('password')?.invalid
            "
          >
            <span *ngIf="registerForm.get('password')?.errors?.['required']"
              >Le mot de passe est requis</span
            >
            <span *ngIf="registerForm.get('password')?.errors?.['minlength']"
              >Le mot de passe doit contenir au moins 6 caractères</span
            >
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirmez le mot de passe</label>
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="Confirmez votre mot de passe"
            autocomplete="new-password"
          />

          <div
            class="error-message"
            *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.errors?.['passwordMismatch']"
          >
            Les mots de passe ne correspondent pas
          </div>
        </div>

        <div class="form-group checkbox-group">
          <div class="checkbox-wrapper">
            <input
              type="checkbox"
              id="termsAccepted"
              formControlName="termsAccepted"
            />
            <label for="termsAccepted" class="checkbox-label">
              J'accepte les
              <a routerLink="/cgu" target="_blank"
                >conditions générales d'utilisation</a
              >
            </label>
          </div>

          <div
            class="error-message"
            *ngIf="
              registerForm.get('termsAccepted')?.touched &&
              registerForm.get('termsAccepted')?.invalid
            "
          >
            Vous devez accepter les conditions d'utilisation
          </div>
        </div>

        <div class="error-message" *ngIf="error">{{ error }}</div>

        <button
          type="submit"
          class="submit-button"
          [disabled]="registerForm.invalid || loading"
        >
          {{ loading ? "Inscription en cours..." : "S'inscrire" }}
        </button>

        <div class="additional-actions">
          <span>Déjà membre ?</span>
          <a routerLink="/login" class="link">Se connecter</a>
        </div>
      </form>
    </div>
  </div>
</section>
