<div class="category-update-container">
  <h1>Modifier une catégorie</h1>
  <p class="update-info">Seul le nom de la catégorie peut être modifié.</p>
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom</label>
      <input
        id="name"
        formControlName="name"
        placeholder="Nom de la catégorie"
      />
    </div>

    <small class="info-text"
      >Pour modifier ou changer la hiérarchie des catégories, veuillez créer une
      nouvelle catégorie.</small
    >

    <div class="button-group">
      <button type="submit" [disabled]="loading || categoryForm.invalid">
        <span *ngIf="!loading">Mettre à jour</span>
        <span *ngIf="loading">Mise à jour en cours...</span>
      </button>
      <button type="button" class="btn-back" [routerLink]="['/categories']">
        Retour
      </button>
    </div>
  </form>

  <div *ngIf="success" class="success-message">
    Catégorie mise à jour avec succès !
  </div>
  <div *ngIf="error" class="error-message">{{ error }}</div>
</div>
