<div class="relative w-full max-w-[1440px] h-screen mx-auto bg-white overflow-hidden">
    <!-- Header -->
    <header class="header">
      <button class="menu-button">
        <img class="menu-line" alt="Line" src="/line-1.svg" />
        <img class="menu-line" alt="Line" src="/line-2.svg" />
        <img class="menu-line" alt="Line" src="/line-1.svg" />
      </button>
  
      <h1 class="title">MON PROFIL</h1>
  
      <div class="avatar">
        <img class="w-full h-full object-cover" alt="Profile" src="/design-sans-titre--2--1.png" />
      </div>
    </header>
  
    <!-- Main Content -->
    <main class="main-content">
      <div class="relative w-full max-w-[1290px]">
        <div class="events-card">
          <!-- User Avatar and Icons -->
          <div class="absolute left-[35px] top-[17px] w-[99px] h-[93px]">
            <div class="h-[93px]" style="background: url(/vector.svg) 100% 100%">
              <div class="w-[99px] h-[93px]" style="background: url(/clip-path-group.png) 100% 100%">
                <div class="relative w-[22px] h-1 top-[41px] left-[38px]">
                  <img class="absolute w-1.5 h-1 top-0 left-0" alt="Group" src="/group.png" />
                  <img class="absolute w-1.5 h-1 top-0 left-[15px]" alt="Group" src="/group-1.png" />
                </div>
              </div>
            </div>
          </div>
  
          <div class="absolute right-[40px] top-[17px] w-[66px] h-[69px]">
            <img src="assets/logout.svg" alt="Logout" class="absolute w-12 h-[60px] top-1 left-3" (click)="onLogout()">
          </div>
  
          <!-- Title -->
          <div class="pt-6 pl-[347px]">
            <h2 class="font-['Jomolhari',Helvetica] font-normal text-black text-4xl">Mes évènements</h2>
  
            <!-- Event Cards -->
            <div class="event-grid">
              <div *ngFor="let card of eventCards" class="relative">
                <div class="event-item">
                  <div class="flex justify-center items-center h-full">
                    <div class="relative w-[122px] h-[97px]">
                      <div class="relative h-[97px]">
                        <div class="absolute w-[52px] h-[99px] -top-px left-[71px]">
                          <img class="absolute w-[39px] h-[99px] top-0 left-[13px]" alt="Xmlid" src="/xmlid-181-.svg" />
                          <img class="absolute w-[26px] h-0.5 top-2 left-[19px]" alt="Xmlid" src="/xmlid-515-.svg" />
                          <img class="absolute w-[26px] h-0.5 top-[15px] left-[19px]" alt="Xmlid" src="/xmlid-515-.svg" />
                          <img class="absolute w-[21px] h-[29px] top-[54px] left-[30px]" alt="Xmlid" src="/xmlid-512-.svg" />
                          <img class="absolute w-[9px] h-px top-[62px] left-10" alt="Xmlid" src="/xmlid-515-.svg" />
                          <img class="absolute w-[9px] h-px top-[68px] left-10" alt="Xmlid" src="/xmlid-515-.svg" />
                          <img class="absolute w-[9px] h-px top-[74px] left-10" alt="Xmlid" src="/xmlid-515-.svg" />
                          <img class="absolute w-[23px] h-[31px] top-11 left-0.5" alt="Xmlid" src="/xmlid-179-.svg" />
                          <img class="absolute w-0.5 h-6 top-[74px] left-3" alt="Xmlid" src="/xmlid-183-.svg" />
                          <img class="absolute w-[25px] h-0.5 top-[97px] left-0" alt="Xmlid" src="/xmlid-515-.svg" />
                        </div>
                        <img class="absolute w-[67px] h-[51px] top-[47px] -left-px" alt="Xmlid" src="/xmlid-180-{{card.imagePrefix}}.png" />
                        <img class="absolute w-[46px] h-9 top-1.5 left-4" alt="Xmlid" src="/xmlid-185-{{card.imagePrefix}}.png" />
                      </div>
                    </div>
                  </div>
                </div>
                <button class="details-button" (click)="onDetailsClick(card.id)">Détails</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  
    <!-- Footer -->
    <footer class="footer">
      <nav class="footer-nav">
        <ng-container *ngFor="let link of footerLinks; let i = index">
          <a [href]="'#'" [class]="'footer-link ' + link.className">{{link.text}}</a>
          <div *ngIf="i === 1" class="w-full"></div>
        </ng-container>
      </nav>
  
      <div class="social-icons">
        <ng-container *ngFor="let icon of socialIcons.slice(0, 2)">
          <img [class]="'social-icon ' + icon.className" [alt]="icon.alt" [src]="icon.src" />
        </ng-container>
        <div class="social-icon-container">
          <ng-container *ngFor="let icon of socialIcons.slice(2)">
            <img [class]="'social-icon ' + icon.className" [alt]="icon.alt" [src]="icon.src" />
          </ng-container>
        </div>
      </div>
    </footer>
  </div>